<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matt Majestic - About</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="icon" href="static/favicon.ico">
</head>
<body>
  <nav>
    <ul class="menu">
      <li><a href="/"><i class="fas fa-user"></i> About Me</a></li>
      <li><a href="/conversation"><i class="fas fa-comments"></i> AI Chat with Me</a></li>
      <li><a href="/download-resume-pdf"><i class="fas fa-file-pdf"></i> View Resume</a></li>
    </ul>
  </nav>
  <h1>Matt Majestic</h1>
  
  <div class="contact-info">
    <p>Email: <a href="mailto:mattmajestic@strictlyresearch.com">Matt Majestic Email</a></p>
    <p>Github: <a href="https://github.com/mattmajestic">mattmajestic GitHub</a></p>
    <p>Youtube Channel: <a href="https://www.youtube.com/@majesticcoding/videos">Majestic Coding YouTube Channel</a></p>
  </div>

  <h2>Summary of Qualifications</h2>
  <p>
    Full Stack development and consulting with experience using a wide array of technologies to create actionable insights and grow software development initiatives leading to profitable business decisions.
  </p>

  <h2>Core Competencies</h2>
  <ul class="core-competencies">
    <li>Data Visualization applications within R Shiny, Streamlit, Django, and Flask</li>
    <li>DevOps Tools include Git, Docker, Kubernetes</li>
    <li>Statistical analysis with ML techniques including with H2O, Pytorch & Tensorflow</li>
    <li>Agile and Project Management in Github, Azure DevOps, and Jira</li>
    <li>Data Analysis tools include R + Python</li>
    <li>Data Storage Tools include Azure Blob, AWS S3, Relational Databases, + GraphQL</li>
    <li>CI/CD Tools include Jenkins + Github Actions</li>
    <li>JavaScript Frameworks: React, Vue, and Angular</li>
    <li>Cloud experience with AWS, Azure & GCP</li>
  </ul>

  <h2 class="section-title">Contributions</h2>
  <p class="employers">
    Guidehouse - Technical Lead<br>
    Pennsylvania State University - Full Stack Developer<br>
    WarnerMedia - Full Stack Developer<br>
    McAfee - R Shiny Developer<br>
    Coca Cola Beverages Florida - Full Stack Developer<br>
    Ovintiv - R Shiny Developer<br>
    EverCommerce - Data Analytics Consultant<br>
    Total System Services, Inc. - Senior Market Research Analyst<br>
    SKIM Group - Analyst<br>
    Vizeum, Division of Dentsu Aegis - Analytics Specialist<br>
    Nielsen - Analyst
  </p>

  <script src="static/theme.js"></script>
  <script src="static/conversation.js"></script>
</body>
</html>