<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Matt Majestic - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" type="image/svg+xml" href="static/favicon.svg" />
</head>
<body>
  <div class="navbar">
    <a href="/credentials" class="icon-link">
      <i class="nes-icon fa fa-user"></i>
    </a>
    <a href="/download-resume-pdf" class="icon-link">
      <i class="nes-icon fa fa-file-pdf"></i>
    </a>
    <a href="/conversation" class="icon-link">
      <i class="nes-icon fa fa-comments"></i>
    </a>
    <a href="/donate" class="icon-link">
      <i class="nes-icon fa fa-coffee"></i>
    </a>
  </div>
  <h1>Matt Majestic</h1> 
  <h2>Summary of Qualifications</h2>
  <p>
    Full Stack development and consulting with experience using a wide array of technologies <br>
    creating actionable insights and grow software development initiatives leading to profitable business decisions.
  </p>

  <h2>Core Competencies</h2>
  <ul>
    <li>Data Visualization applications within R Shiny, Streamlit, Django, and Flask</li>
    <li>DevOps Tools include Git, Docker, Kubernetes</li>
    <li>Statistical analysis with ML techniques including with H2O, Pytorch & Tensorflow</li>
    <li>Agile and Project Management in Github, Azure DevOps, and Jira</li>
    <li>Data Analysis tools include R + Python</li>
    <li>Data Storage Tools include Azure Blob, AWS S3, Relational Databases, + GraphQL</li>
    <li>CI/CD Tools include Jenkins + Github Actions</li>
    <li>JavaScript Frameworks: React, Vue, and Angular</li>
    <li>Cloud experience with AWS, Azure & GCP</li>
  </ul>

  <h2>Contributions</h2>
  <ul>
    <li>Guidehouse - Technical Lead</li>
    <li>Pennsylvania State University - Full Stack Developer</li>
    <li>WarnerMedia - Full Stack Developer</li>
    <li>McAfee - R Shiny Developer</li>
    <li>Coca Cola Beverages Florida - Full Stack Developer</li>
    <li>Ovintiv - R Shiny Developer</li>
    <li>EverCommerce - Data Analytics Consultant</li>
    <li>Total System Services, Inc. - Senior Market Research Analyst</li>
    <li>SKIM Group - Analyst</li>
    <li>Vizeum, Division of Dentsu Aegis - Analytics Specialist</li>
    <li>Nielsen - Analyst</li>
  </ul>

  <div>
    <a href="https://github.com/mattmajestic" target="_blank" class="icon-link">
      <i class="nes-icon github is-medium"></i>
    </a>
    <a href="mailto:mattmajestic@strictlyresearch.com" class="icon-link">
      <i class="nes-icon gmail is-large"></i>
    </a>    
    <a href="https://www.linkedin.com/in/matthew-majestic" target="_blank" class="icon-link">
      <i class="nes-icon linkedin is-large"></i>
    </a>
    <a href="https://www.youtube.com/@majesticcoding/videos" target="_blank" class="icon-link">
      <i class="nes-icon youtube is-large"></i>
    </a>
  </div> 

  <script src="static/theme.js"></script>
  <script src="static/conversation.js"></script>
</body>
</html>