<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg" />
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/98.css" />
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>H2OGPT Enabled</title>
</head>
<body>
    <div class="navbar">
        <a href="/" class="icon-link">
          <i class="nes-icon fa fa-house-user"></i>
        </a>
        <a href="/credentials" class="icon-link">
          <i class="nes-icon fa fa-user"></i>
        </a>
        <a href="/download-resume-pdf" class="icon-link">
          <i class="nes-icon fa fa-file-pdf"></i>
        </a>
        <a href="/analytics" class="icon-link">
          <i class="nes-icon fa fa-coffee"></i>
        </a>
      </div>
    <h1>Welcome to mattGPT!</h1>
    <p><a href="https://gpt.h2o.ai/" target="_blank">Click here to visit h2oGPT</a></p>
    <iframe src="https://gpt.h2o.ai/" width="100%" height="900px" frameborder="0"></iframe>
</body>
</html>
