<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Matt Majestic - Home</title>
  <link rel="icon" type="image/svg+xml" href="static/favicon.svg" />
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body class="light-mode">
  <h1>
    <span>Matt Majestic Developer Portfolio</span>
  </h1>
  <br>
  <div class="container">
    <div class="card">
      <a href="/credentials">
        <i class="nes-octocat fa fa-user fa-4x"></i>
        <h2>About Me</h2>
        <p>Fullstack Consultant</p>
      </a>
    </div>
    <div class="card">
      <a href="/download-resume-pdf">
        <i class="fa fa-file-pdf fa-4x"></i>
        <h2>View Resume</h2>
        <p>Format: .pdf</p>
      </a>
    </div>
    <div class="card">
      <a href="/conversation">
        <i class="fa fa-comments fa-4x"></i>
        <h2>AI Chat using Transformers</h2>
        <p>SDLC: Dev </p>
      </a>
    </div>
    <div class="card">
      <a href="/donate">
        <i class="fa fa-coffee fa-4x"></i>
        <h2>Donate</h2>
        <p>Buy me a Coffee</p>
      </a>
    </div>
  </div>
  <br>
  <div>
    <a href="https://github.com/mattmajestic" target="_blank" class="icon-link">
      <i class="nes-icon github is-medium"></i>
    </a>
    <a href="mailto:mattmajestic@strictlyresearch.com" class="icon-link">
      <i class="nes-icon gmail is-large"></i>
    </a>    
    <a href="https://www.linkedin.com/in/matthew-majestic" target="_blank" class="icon-link">
      <i class="nes-icon linkedin is-large"></i>
    </a>
    <a href="https://www.youtube.com/@majesticcoding/videos" target="_blank" class="icon-link">
      <i class="nes-icon youtube is-large"></i>
    </a>
  </div> 
  <script src="static/theme.js"></script>
</body>
</html>
