<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matt Majestic - Home</title>
  <link rel="icon" href="static/favicon.ico">
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <h1>
        <span>Majestic</span>
        <span>Developer</span>
        <span>Portfolio</span>
      </h1>
  <div class="container">
    <div class="card">
      <a href="/credentials">
        <i class="nes-octocat fa fa-github fa-4x"></i>
        <h2>About Me</h2>
        <p>Fullstack Consultant</p>
      </a>
    </div>
    <div class="card">
      <a href="/download-resume-pdf">
        <i class="fa fa-file-pdf fa-4x"></i>
        <h2>View Resume</h2>
        <p>Format: .pdf</p>
      </a>
    </div>
    <div class="card">
      <a href="/conversation">
        <i class="fa fa-comments fa-4x"></i>
        <h2>AI Chat using Transformers</h2>
        <p>SDLC: Dev </p>
      </a>
    </div>
    <div class="card">
      <a href="/donate">
        <i class="fa fa-coffee fa-4x"></i>
        <h2>Donate</h2>
        <p>Buy me a Coffee</p>
      </a>
    </div>
  </div>
</body>
</html>
