<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Matt Majestic - Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" type="image/svg+xml" href="static/favicon.svg" />
</head>
<body>
  <div class="navbar">
    <a href="/" class="icon-link">
      <i class="nes-icon fa fa-house-user"></i>
    </a>
    <a href="/download-resume-pdf" class="icon-link">
      <i class="nes-icon fa fa-file-pdf"></i>
    </a>
    <a href="/chat_h2o" class="icon-link">
      <i class="nes-icon fa fa-comments"></i>
    </a>
    <a href="/readme" class="icon-link">
      <i class="nes-icon fa fa-coffee"></i>
    </a>
  </div>
  <h1>Projects</h1> 
  <br>
  <table>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Tech Stack</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>👾 Web3 Business Management Solution</td>
            <td>Written in Python with Web3 integration</td>
            <td>Python, Web3, Supabase</td>
            <td><a href="https://web3bms.streamlit.app/">Visit</a></td>
        </tr>
        <tr>
            <td>💰 Crypto Wallet with Kraken API</td>
            <td>Written in Python, uses Kraken REST API</td>
            <td>Python, Kraken API, Supabase</td>
            <td><a href="https://kraken-portfolio.streamlit.app/">Visit</a></td>
        </tr>
        <tr>
            <td>💾 mattmajestic.dev FastAPI Portfolio</td>
            <td>FastAPI portfolio with Jinja</td>
            <td>FastAPI, HTML, JS</td>
            <td><a href="https://mattmajestic.dev/">Visit</a></td>
        </tr>
        <tr>
            <td>💻 Windows 98 Themed Portfolio</td>
            <td>Deployed on Netlify, written in vanilla JS</td>
            <td>Netlify, JavaScript</td>
            <td><a href="https://majestic-windows-98.netlify.app/">Visit</a></td>
        </tr>
        <tr>
            <td>🐍 Streamlit with Supabase Backend</td>
            <td>Supabase Backend with PyPI via <a href="https://github.com/mattmajestic/streamlit-supabase/blob/main/.github/workflows/publish-to-pypi.yml">Github Action</a></td>
            <td>Supabase, <a href="https://pypi.org/project/streamlit-supabase/">PyPI</a></td>
            <td><a href="https://supabase-demo.streamlit.app/">Visit</a></td>
        </tr>
        <tr>
            <td>🚀 Software Development Request</td>
            <td>Deployed on Vercel, built with ReactJS</td>
            <td>Vercel, ReactJS, Supabase</td>
            <td><a href="https://software-dev-request.vercel.app/">View</a></td>
        </tr>
        <tr>
            <td>💳 Booking & Payments App</td>
            <td>Streamlit integrated with Stripe API</td>
            <td>Streamlit, Stripe Payments API</td>
            <td><a href="https://stripe-demo-youtube.streamlit.app/">Visit</a></td>
        </tr>
        <tr>
            <td>📈 CoinGecko Trending Coin Tracker</td>
            <td>Deployed on Vercel, built with React</td>
            <td>CoinGecko API, React</td>
            <td><a href="https://coingecko-reactjs.vercel.app/">Visit</a></td>
        </tr>
        <tr>
            <td>🐳 DIY Home Assistant</td>
            <td>Smart automation using Docker Compose</td>
            <td>Docker Compose</td>
            <td><a href="https://github.com/mattmajestic/homeassistant-majestic#readme">Visit</a></td>
        </tr>
        <tr>
            <td>☁️ OpenAI Streamlit App</td>
            <td>Deployed via Docker on Google Cloud</td>
            <td>Docker, Google Cloud</td>
            <td><a href="https://openai-streamlit.app/">Visit</a></td>
        </tr>
        <tr>
            <td>⚽ Soccer Performance in Streamlit</td>
            <td>Deployed to Google Cloud</td>
            <td>Streamlit, Google Cloud</td>
            <td><a href="https://joga-bonito.tech/">Visit</a></td>
        </tr>
    </table>
    <br>
  <div>
    <a href="https://github.com/mattmajestic" target="_blank" class="icon-link">
      <i class="nes-icon github is-medium"></i>
    </a>
    <a href="mailto:mattmajestic@strictlyresearch.com" class="icon-link">
      <i class="nes-icon gmail is-large"></i>
    </a>    
    <a href="https://www.linkedin.com/in/matthew-majestic" target="_blank" class="icon-link">
      <i class="nes-icon linkedin is-large"></i>
    </a>
    <a href="https://www.youtube.com/@majesticcoding/videos" target="_blank" class="icon-link">
      <i class="nes-icon youtube is-large"></i>
    </a>
  </div> 

  <script src="static/theme.js"></script>
  <script src="static/conversation.js"></script>
</body>
</html>