<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> Matt Majestic - Stripe Pay</title>
  <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" href="static/favicon.ico">
</head>
<body>
    <nav>
        <ul class="menu">
          <li><a href="/"><i class="fas fa-user"></i> About Me</a></li>
          <li><a href="/conversation"><i class="fas fa-comments"></i> AI Chat with Me</a></li>
          <li><a href="/download-resume-pdf"><i class="fas fa-file-pdf"></i> View Resume</a></li>
          <li><a href="/donate"><i class="fas fa-coffee"></i> Donate via Stripe</a></li>
        </ul>
      </nav>
       <h1>Stripe JS Integration</h1>
       <p>Take payments through links or QR codes</p>
       <h2>Buy Me a Coffee</h2>
       <stripe-buy-button buy-button-id="buy_btn_1NI8qpBY7L5WREAJU7jQtXSF" publishable-key="pk_test_51IhaciBY7L5WREAJwVMBrcxv5kBExAigZ1Ajl8yCSjyTdP3lAhhZ6BsAUAImY9rCrklgbyV6Gj86qHXnSlY3F8l500KHDNOg3s"></stripe-buy-button>
       <img src="static/mattmajestic_dev_stripe.png" alt="Stripe QR Code">
       
  <script async src="https://js.stripe.com/v3/buy-button.js"></script>
</body>
</html>
